h1 {
    font-size: 4vw;
    text-align: center;
}


img {display: block;
    width: 75vw;
    height: 35vw;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
    border: 2px solid black;
}


.play-button{
    display: block;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    width: 15vw;
    background-color: gray;
    border: 2px solid black;
}   

footer{
    display: block;
    margin-top: 15vw;
    text-align: center;
    background-color: gray;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    border: 2px solid black;

}