* {
    margin: 0;
    padding: 0;
}
    
h1 {
    font-size: 5vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1vw;
}



.player-turn {
    font-size: 3vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3vw;
    color: red;
}


table {
    border-collapse: separate;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

td {
text-align: center;
border: 2px solid black;
}


.table thead {
    background-color: gray;
}


.parent-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user-input {
    margin-top: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    padding: .5vw;;
}

.button-container {
    display: flex;
    gap: 1.5vw;
    margin-top: .5vw;
}

#guess , #pass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    width: 9.5vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    text-align: center;
    margin: .5vw;
    border: .2vw solid black;
    cursor: not-allowed;
    color: transparent;
    text-shadow: 0 0 0 black; 
  }

.parent-container-score {
    display: flex;
    justify-content: space-between;
    padding: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
}

#next-round {
    margin-left: 75%;
    margin-top: 10%;
    font-size: 3vw;
    text-align: center;
    width: 16vw;
    padding:1vw;
    border: 1px solid black;
}



footer {
    background-color: gray;
    border: 1px solid black;
    text-align: center;
    margin-top: 6vw;
    margin-right: 18vw ;
    margin-left:  18vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    padding: .5vw;
}

.nature, .animals, .computers, .mythology, .history, .mythology, .general {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1vw;
    width: 16.2vw;
    text-align: center;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 500px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }